#new_survey.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Survey
			= form_for Socratic::Survey.new, url: survey_admin_index_path do |f|
				.modal-body
					= f.label :title
					= f.text_field :title, class: 'form-control'

					= f.label :description
					= f.text_area :description, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'