


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: '/admin' }
						Admin
				%li
					%strong
						Survey Admin
						= "(#{pluralize @surveys.total_count, 'survey'})"

		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_survey' } }
				%i.fa.fa-plus-square
				New
	.row
		.col-xs-6
			= raw paginate @surveys
		.col-xs-6
			= form_tag survey_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( Ingredient.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', survey_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
						Title
						%a{ href: survey_admin_index_path( sort_by: 'title', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: survey_admin_index_path( sort_by: 'title', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					
					
					%th Responses
					%th Created
					
					%th
				%tbody
					- @surveys.each do |survey|
						%tr
						
							%td
								.title{ style: 'font-size:120%;' }= link_to survey.title, edit_survey_admin_path( survey.id )
								
							%td
								= link_to survey.surveyings.count, responses_survey_admin_path( survey )
							%td
								= survey.created_at
							
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_survey_admin_path( survey.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: survey_admin_path( survey ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!



= render 'new_modal'