
- if question.question_ui == 'text_box'
	.form-group
		= label_tag "responses[#{question.slug}][content]", question.label
		= text_field_tag "responses[#{question.slug}][content]", @surveying.responses.where( question: question ).last.try( :content ), class: 'form-control'
- elsif question.question_ui == 'text_area'
	.form-group
		= label_tag "responses[#{question.slug}][content]", question.label
		= text_area_tag "responses[#{question.slug}][content]", @surveying.responses.where( question: question ).last.try( :content ), class: 'form-control'

- elsif question.question_ui == 'select'
	.form-group
		= label_tag "responses[#{question.slug}][prompt_id]", question.label
		= select_tag "responses[#{question.slug}][prompt_id]", options_for_select( question.prompts.map{ |p| [ p.title, p.id ] }.to_h, @surveying.responses.where( question: question ).last.try( :prompt_id ) ), class: 'form-control'
		


- elsif question.question_ui == 'radio'
	.form-group
		= label_tag "responses[#{question.slug}][prompt_id]", question.label
		- question.prompts.each do |prompt|
			%div
				%label{ style: 'font-weight: normal;line-height:1.5em;' }
					= radio_button_tag "responses[#{question.slug}][prompt_id]", prompt.id, @surveying.responses.where( question: question ).last.try( :prompt_id ) == prompt.id, class: '', style: 'display: inline-block;font-size: 34px;margin-right: 0.5em;'
					= prompt.title