

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: '/admin' }
						Admin
				%li
					= link_to 'Survey Admin', survey_admin_index_path
				%li
					%a{ href: edit_survey_admin_path( @survey ) }
						Edit
						= @survey.title
				%li
					%a{ href: responses_survey_admin_path( @survey ) }
						Responses
				%li
					View Response

		.col-xs-2
		

	.row
		.col-xs-12
			%table.table
				%tbody
					%tr
						%td
							Email
						%td
							= @surveying.user.email

					%tr
						%td
							Created
						%td
							= @surveying.created_at
					%tr
						%td
							Updated
						%td
							= @surveying.updated_at
					%tr
						%td
							Completed
						%td
							= @surveying.completed_at

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th
				%tbody
					- @survey.questions.each do |question|
						%tr
							%td{ style: 'width: 20em;' }
								- if question.is_required?
									*
								= question.name
							
							%td
								= @surveying.responses.where( question: question ).pluck( :content ).reject{ |c| c.nil? }.join( ', ' )

					




