

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					%a{ href: '/admin' }
						Admin
				%li
					= link_to 'Survey Admin', survey_admin_index_path
				%li
					= link_to @question.survey.title, edit_survey_admin_path( @question.survey )
				%li
					Edit Question
					%strong
						= @question.label
		.col-xs-2
			%a.btn.btn-danger{ href: '', data: { method: :delete, confirm: 'Are you sure?' } }
				%i.fa.fa-trash
				Delete


	= form_for @question, url: question_admin_path( @question ) do |f|

		.row
			.col-xs-8
				.form-group
					= f.label :label
					= f.text_field :label, class: 'form-control input-lg'


				.form-group
					= f.label :content
					= f.text_area :content, class: 'form-control wysiwyg', data: { wysiwyg: { height_min: 100, toolbar_sticky: true, toolbar_preset: 'admin_default' }.to_json }

				.row#questions
					.col-xs-12
						.well.white-well
							%a.pull-right.btn.btn-success{ href: '#new_prompt', data: { toggle: :modal, target: '#new_prompt' } }
								%i.fa.fa-plus
								Add Prompt
							%h4
								Prompts

							%table.table.table-light.table-bordered{ style: 'margin:0;' }
								%thead
									%th{ style: 'width: 6em' } Seq
									%th Content
									%th{ style: 'width: 10em' }
								%tbody
									- if @question.prompts.empty?
										%tr
											%td{ colspan: 3 }
												\- No Prompts -
									- @question.prompts.order( seq: :asc ).each do |prompt|
										%tr
											%td
												= prompt.seq
											%td
												= prompt.content
											%td



			.col-xs-4
				.well

					.form-group
						

					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

	

= render 'socratic/prompt_admin/new_modal', args: { question_id: @question.id }



